@import '../styles/colors';

.app {
  position: relative;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.examplary-container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 25%;
  min-width: 300px;
  width: 50%;
  height: auto;
  margin: 0 auto;

  h1 {
    color: $yellow;
    text-align: center;
    margin-top: 5%;
    font-family: 'Exo', sans-serif;
  }
  img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    animation-name: spin;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@media only screen and (orientation: landscape) {
  .examplary-container {
    width: auto;
    min-height: 300px;
    height: 50%;
    h1 {
      margin-top: 2%;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
